name: Dependency Submission

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '24'
      - uses: gradle/actions/setup-gradle@v5
      - uses: gradle/actions/dependency-submission@v5
        with:
          build-root-directory: backend-spring

  dependency-review:
    runs-on: ubuntu-latest
    needs: dependency-submission
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/dependency-review-action@v4
        if: ${{ startsWith(github.ref, 'refs/pull') }}
        with:
          comment-summary-in-pr: always
          license-check: false
          show-openssf-scorecard: false
